Repository NeoQenXzin/samurang-portal: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      backend:
        target: 80%
        flags:
          - backend
      frontend:
        target: 80%
        flags:
          - frontend
    patch:
      default:
        target: 80%

flags:
  backend:
    paths:
      - src/
    carryforward: true
  frontend:
    paths:
      - frontend/src/
    carryforward: true

ignore:
  - "src/DataFixtures"
  - "src/Migrations"
  - "tests"
  - "frontend/tests"

add codevcov v5
  .github/workflows/github-workflow-ci.yml
Due: none

debug
  Readme.md
  frontend/src/tests/integration/login.integration.test.jsx
  tests/Integration/Auth/AuthIntegrationTest.php
  tests/Integration/EasyAdmin/InstructorDashboardTest.php
Due: frontend

config Doctrine depreciated disable + add EasyAdmin to phpunit.xml.dist environment. Every Test is Ok with or without githubactions
  .env.test
  phpunit.xml.dist
Due: none

ci: setup GitHub Actions and testing infrastructure
  .env.test
  .env.test.dist
  .github/workflows/github-workflow-ci.yml
  .github/workflows/github-workflow-deploy.yml
  composer.json
  composer.lock
  config/bundles.php
  config/packages/test/security.yaml
  config/packages/test/security.yml
  frontend/package.json
  src/Controller/HealthCheckController.php
  src/DataFixtures/AppFixtures.php
  symfony.lock
  templates/security/login.html.twig
  tests/Integration/EasyAdmin/InstructorDashboardTest.php
  tests/TestCase.php
Due: backend

add codecov coverage
  .github/workflows/github-workflow-ci.yml
  Readme.md
  codecov.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/tests/integration/login.integration.test.jsx
  frontend/vitest.config.js
  phpunit.xml.dist
  tests/Integration/Auth/AuthIntegrationTest.php
  tests/Integration/EasyAdmin/InstructorDashboardTest.php
Due: frontend

test after rebase
  frontend/README.md
Due: none

add make file exemple and .env.example
  .env.example
  Makefile.example
Due: none

docket comment in gitaction
  .github/workflows/github-workflow-deploy.yml
Due: none

test github action with vps actif
  .github/workflows/github-workflow-deploy.yml
Due: none

Optimize Dashboard
  .DS_Store
  .github/workflows/github-workflow-deploy.yml
  assets/.DS_Store
  assets/styles/app.css
  assets/styles/login.css
  frontend/src/Components/Dashboard/Dashboard.jsx
  public/.DS_Store
  public/images/.DS_Store
  public/images/dojo-aube.png
  src/Controller/Admin/DashboardController.php
  templates/base.html.twig
  templates/security/login.html.twig
Due: backend, frontend

frontend show futur events only , past events separately
  frontend/src/Components/Dashboard/Dashboard.jsx
  frontend/src/Components/FormationList.jsx
Due: frontend

fix profil.jsx and upgrade fonctionnalities + add more fields to CurrentUser for modale profil.jsx
  frontend/src/Components/Profil/Profil.jsx
  frontend/src/store/store.js
  src/Controller/CurrentUserController.php
Due: backend, frontend

fix modal user display + Optimise InstructorFormationCrud
  config/packages/security.yaml
  frontend/src/Components/FormationList.jsx
  frontend/src/Components/Profil/Profil.jsx
  frontend/src/index.js
  frontend/src/store/slices/authSlice.js
  frontend/src/store/slices/eventsSlice.js
  frontend/src/store/slices/profileSlice.js
  frontend/src/utils/axiosConfig.js
  src/Controller/Admin/InstructorFormationCrudController.php
  src/Controller/CurrentUserController.php
Due: backend, frontend

add fixtures
  .env
  .gitignore
  migrations/Version20240928081927.php
  migrations/Version20241012195013.php
  migrations/Version20241013094541.php
  migrations/Version20241022170650.php
  migrations/Version20250106142347.php
  migrations/Version20250215182613.php
  src/DataFixtures/AppFixtures.php
Due: none

maj fixtures
  public/.DS_Store
  src/DataFixtures/AppFixtures.php
Due: none
